/bin
/NiTE2
/OpenNI2
/NiTE.ini
/NiTE2.dll
/NiTE2.jni.dll
/NiTE2.jni.pdb
/NiTE2.pdb
/OpenNI.ini
/OpenNI2.dll
/OpenNI2.jni.dll
/OpenNI2.jni.pdb
/OpenNI2.pdb
/org.openni.jar
/glut64.dll
/hs_err_pid2436.log
/hs_err_pid3284.log
/hs_err_pid5996.log
/hs_err_pid6980.log
/hs_err_pid7200.log
/.metadata/